@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: black;

  text-align: center;
  font-size: 2em;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 2;
}
nav h2 {
  --beforewidth: 0;
  color: #fff;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 3px;
  position: relative;
  display: inline;
}
nav h2::before {
  content: "Tesla";
  position: absolute;
  color: var(--beforeclr);
  text-align: center;
  background-color: transparent;
  font-family: "Permanent Marker", cursive;
  font-size: inherit;
  letter-spacing: 3px;
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
  overflow: hidden;
  line-height: 69px;
  width: var(--beforewidth);
}
.content {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("istockphoto-1266528796-612x612.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.box {
  position: absolute;
  width: 62%;
  height: 90%;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.box.about {
  opacity: 1;
}

.box img {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: -23%;
}
.box .info {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 2vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button {
  position: absolute;
  bottom: 3%;
  right: 2%;
  width: 11vw;
  height: 4vw;
  font-size: 1.5vw;
  line-height: 4vw;
  text-align: center;
  cursor: pointer;
  color: #fff;
}
button p {
  display: inline-block;
  position: absolute;
  left: 12px;
  top: -2px;
}
button .icon {
  position: absolute;
  top: 14px;
  right: 8px;
  animation: forIcon 0.6s linear infinite;
  -webkit-animation: forIcon 0.6s linear infinite;
}
@keyframes forIcon {
  100% {
    right: 5px;
  }
}
.box .info div {
  text-align: center;
}
.box:not(.about) .info h2 {
  display: inline-block;
  color: var(--clr);
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
}
@keyframes widthh {
  100% {
    width: 100%;
  }
}

.models-cont {
  width: 10vw;
  height: 40vw;
  position: absolute;
  top: 1vw;
  left: 1vw;
}
.models-cont .text {
  border-radius: 50%;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
  background-color: #000;
  color: #fff;
  font-size: 2.9vw;
  font-family: "DM Serif Display", serif;
  width: 10vw;
  height: 10vw;
  text-align: center;
  line-height: 10vw;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  box-shadow: 0 0 8px #000;
}
.text::selection {
  background-color: transparent;
}
.models-cont .text.active {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.models-cont .models {
  height: 0vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 3vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 10%;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  box-shadow: 0 0 5px #000;
  visibility: hidden;
  overflow: hidden;
}
.models.active {
  height: 40vw;
  visibility: visible;
  overflow: visible;
}
.models-cont .models div {
  width: 6vw;
  height: 6vw;
  cursor: pointer;
  position: relative;
}
.models-cont .models div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.models-cont .models div::after {
  content: "";
  position: absolute;
  inset: 0;
  color: #fff;
  left: 130%;
  top: 25%;
  font-size: 2vw;
  white-space: nowrap;
  text-shadow: 0 0 10px var(--clr);
  overflow: hidden;
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
  width: 0;
}
.models-cont .models div.active::after {
  animation: animate 0.5s linear 1;
  -webkit-animation: animate 0.5s linear 1;
  animation-fill-mode: forwards;
}
@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 9vw;
  }
}
.models-cont .text:not(.active) + .models div::after {
  display: none;
}
.models-cont .models div:nth-child(1):after {
  content: "Model-3";
}
.models-cont .models div:nth-child(2):after {
  content: "Model-X";
}
.models-cont .models div:nth-child(3):after {
  content: "Model-Y";
}
.models-cont .models div:nth-child(4):after {
  content: "Model-S";
}
.models-cont .models div.active img {
  box-shadow: 0 0 20px var(--clr);
}
.icon-2 {
  display: none;
  opacity: 0.8;
}
.icon-2.active {
  animation: icon 0.7s linear infinite;
  -webkit-animation: icon 0.7s linear infinite;
}
@keyframes icon {
  100% {
    top: 51%;
  }
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 15px;
  min-height: 4vw;
}
footer p:nth-child(2) {
  margin-top: 7px;
  font-size: 10px;
  opacity: 0.7;
}
@media (max-width: 768px) {
  nav {
    font-size: 1em;
  }
  nav h2::before {
    line-height: 35px;
  }
  .content {
    height: 772px;
  }
  .box {
    height: 60%;
    top: 60%;
    width: 75%;
    right: 8%;
  }
  .box .info {
    font-size: 12px;
    justify-content: initial;
  }
  .box .info p {
    margin-top: 50px;
  }
  .box img {
    width: 20vw;
    height: 20vw;
    margin-left: -17%;
  }
  .models-cont {
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 229px;
    height: 150px;
  }
  .models-cont .models {
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    top: 40%;
  }
  .models.active {
    height: 50px;
    top: 60%;
    overflow: visible;
  }
  .models-cont .text {
    width: 70px;
    height: 70px;
    left: 35%;
    font-size: 20px;
    line-height: 70px;
  }
  .icon-2 {
    display: inline-block;
    color: #fff;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .models-cont .models div {
    width: 42px;
    height: 42px;
  }
  button {
    width: 65px;
    height: 21px;
    font-size: 8px;
    line-height: 21px;
  }
  button p {
    display: inline-block;
    margin-left: -5px;
  }
  button .icon {
    top: 4px;
    right: 0px;
  }
  @keyframes forIcon {
    100% {
      right: 4px;
    }
  }
  .models-cont .models div {
    cursor: none;
  }
  .models-cont .models div::after {
    left: 5%;
    top: 127%;
    width: 100%;
    height: 0;
  }
  .models-cont .models div.active::after {
    animation: animate 1.2s linear 1;
    -webkit-animation: animate 1.2s linear 1;
    animation-fill-mode: forwards;
  }
  @keyframes animate {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  footer {
    font-size: 10px;
    height: 25px;
  }
  footer p:nth-child(2) {
    margin-top: initial;
    font-size: 5px;
    opacity: 0.7;
  }
}
